<nav>
	<div class="name">
		<a href="/"><h1>Alexander De León Battista</h1></a>
	</div>
	<div class="menu">
		<ul>
			<li><a href="https://medium.com/@alexjdl">Blog</a></li>
			<li><a href="https://github.com/alexdeleon?tab=activity">Code</a></li>
			<li><a href="https://www.flickr.com/photos/alex_deleon">Photography</a></li>
			<li><a href="#">About me</a></li>
		</ul>
	</div>
	<div class="connections">
		<a href="https://www.facebook.com/alexjdl" ><i class="fa fa-facebook fa-2x"></i></a>
		<a href="https://twitter.com/alexjdl"><i class="fa fa-twitter fa-2x"></i></a>
		<a href="https://github.com/alexdeleon"><i class="fa fa-github-alt fa-2x"></i></a>
		<a href="http://es.linkedin.com/pub/alexander-de-leon-battista/3/b10/64a/"><i class="fa fa-linkedin fa-2x"></i></a>
		<a href="https://plus.google.com/113914487834797888050/posts"><i class="fa fa-google-plus fa-2x"></i></a>
	</div>
</nav>
